<body style="background-color:steelblue;">
<h2>Twitter Live Stream</h2>
<style>
    .button {
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}
.button1 {background-color: #8B4513;} /* Green */
</style>
<form action="/data" method = "POST">
    <p>Enter Tag <input type = "text" name = "Tag" /> <button class="button button1">Submit</button> </p>
Currently trending in USA:  <b style="color:blue;"> Thanksgiving, Cowboys, Luke Combs, #LVvsDAL</b>
    <marquee behavior="scroll" direction="right">After Submit, please stay put while we collect your tweets!</marquee>
</form>
</body>
<b>Recent tweets for <u>{{handle}} </u></b>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">IDK if I&#39;ve ever seen a game with as many tik-tac penalties, as I saw in this <a href="https://twitter.com/hashtag/LVvsDAL?src=hash&amp;ref_src=twsrc%5Etfw">#LVvsDAL</a>.</p>&mdash; Lawrence Owen (@Colts_Law) <a href="https://twitter.com/Colts_Law/status/1464033433706020868?ref_src=twsrc%5Etfw">November 26, 2021</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">The MVP of today’s <a href="https://twitter.com/hashtag/Cowboys?src=hash&amp;ref_src=twsrc%5Etfw">#Cowboys</a> vs <a href="https://twitter.com/hashtag/Raiders?src=hash&amp;ref_src=twsrc%5Etfw">#Raiders</a> game. He’s been seen all over the field influencing the game. Get that flag a turkey leg.  <a href="https://twitter.com/hashtag/LVvsDAL?src=hash&amp;ref_src=twsrc%5Etfw">#LVvsDAL</a> <a href="https://twitter.com/NFLOfficiating?ref_src=twsrc%5Etfw">@NFLOfficiating</a> <a href="https://t.co/8gComVW7nL">pic.twitter.com/8gComVW7nL</a></p>&mdash; Captain Cannabis (@CannaCaptain) <a href="https://twitter.com/CannaCaptain/status/1464033451070398465?ref_src=twsrc%5Etfw">November 26, 2021</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

